body {
  font-family: sans-serif;
}

input {
  border: none;
  border-radius: 4px;
  padding: 4px;
  margin: 2px 4px;
}

button {
  border: none;
  border-radius: 4px;
  padding: 4px 16px;
  margin-right: 8px;
}

li {
  margin-right: 8px;
}

.input-area {
  background-color: #ffccff;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplete-area {
  background-color: #ccff00;
  width: 400px;
  min-height: 100px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #ffcccc;
  width: 400px;
  min-height: 100px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  color: #666666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
